<ion-header-bar align-title="center" class="bar-navigation">
  <p class="center">TEST Include</p>
  <div style="margin-left:10%; ">
    <h5 class="title center　">
      <a style="background-color: white"  href="#/tab/home">首页</a>
      <a style="color: gray" href="#/tab/church">教会</a>
      <a style="color: gray" href="#/tab/ministries">事工</a>
      <a style="color: gray" href="#/tab/world">国际</a>
      <a style="color: gray" href="#/tab/society">社会</a>
      <a style="color: gray" href="#/tab/culture">文化</a>
      <a style="color: gray" href="#/tab/tech">科技&财经</a>
      <a style="color: gray" href="#/tab/opinion">观点</a></h5>
    <!--<a href="http://chinese.christianpost.com/gallery/">图库</a>-->
  </div>
</ion-header-bar>
