
<div class="modal1"  >


  <ion-content >

    <div class="btn-list-index" style="height: 20vh; text-align: center">
      <div class="row" style="height: 100%">
        <div class="col col-50 border-right-bottom" style="height: 100%;" ng-click="sendtofriend()">
          <img src="img/wx_sharetofriends.png" style="height: 13vh;margin: 0;padding: 0">
          <i>微信朋友圈</i>
          <i> </i>
        </div>

        <div class="col col-50 border-bottom" style="height: 100%" ng-click="share()">
          <img src="img/icon64_wx_logo_sendtofriend.png" style="height: 13vh;margin: 0;padding: 0">
          <i>微信好友</i>
          <i> </i>
        </div>

      </div>

    </div>


    <button class="button button-block button-light" ng-click="closeModal()">
      取消分享
    </button>

  </ion-content>




</div>



