<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div class=”bar bar-header bar-positive”>
      <h1 class=”title”>腾讯新闻</h1>
      <a class=”button button-clear icon ion-ios-gear”></a>
    </div>
    <div class=”bar bar-subheader bar-stable”>
      <div class=”button-bar”>
        <a class=”button button-balanced”>要闻</a>
        <a class=”button button-clear”>财经</a>
        <a class=”button button-clear”>娱乐</a>
        <a class=”button button-clear”>体育</a>
        <a class=”button button-clear”>科技</a>
      </div>
    </div>
    <div class=”bar bar-footer bar-dark”>
      <div class=”button-bar”>
        <a class=”button button-clear icon ion-document-text”>新闻</a>
        <a class=”button button-clear icon ion-images”>图片</a>
        <a class=”button button-clear icon ion-chatbox-working”>话题</a>
        <a class=”button button-clear icon ion-radio-waves”>热点</a>
      </div>
    </div>

    <h2>Welcome to Ionic</h2>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p>
  </ion-content>
</ion-view>



<body class=”stable-bg”>

</body>
